<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Weather95_20Frame">
		<title>Weather 95+20</title>
		<centered>1</centered>
		<bg>wxSYS_COLOUR_BTNFACE</bg>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxMINIMIZE_BOX</style>
		<handler function="OnKeyUpAndDown" entry="EVT_KEY_DOWN" />
		<handler function="OnKeyUpAndDown" entry="EVT_KEY_UP" />
		<handler function="OnSetAndKillFocus" entry="EVT_SET_FOCUS" />
		<handler function="OnSetAndKillFocus" entry="EVT_KILL_FOCUS" />
		<handler function="OnMouseMove" entry="EVT_MOTION" />
		<object class="wxFlexGridSizer" variable="MainFlexGridSizer" member="no">
			<cols>1</cols>
			<rows>4</rows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="HeaderFlexGridSizer" member="no">
					<cols>2</cols>
					<rows>1</rows>
					<growablecols>0</growablecols>
					<growablerows>1</growablerows>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="InputFlexGridSizer" member="no">
							<cols>2</cols>
							<rows>1</rows>
							<growablecols>1</growablecols>
							<growablerows>1</growablerows>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_LOCATIONSTATICTEXT" variable="LocationStaticText" member="yes">
									<label>Location:</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_LOCATIONTEXTCTRL" variable="LocationTextCtrl" member="yes">
									<size>-1,-1</size>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_LOGOPANEL" variable="LogoPanel" member="yes">
							<size>107,50</size>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="CurrentConditionsStaticBoxSizer" member="no">
					<label>Current conditions</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="CurrentConditionsFlexGridSizer" member="no">
							<cols>5</cols>
							<rows>1</rows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="TemperatureFlexGridSizer" member="no">
									<cols>1</cols>
									<rows>3</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_TEMPERATURESTATICTEXT" variable="TemperatureStaticText" member="yes">
											<label>Temperature</label>
											<font>
												<weight>bold</weight>
												<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_CURRENTTEMPERATURESTATICTEXT" variable="CurrentTemperatureStaticText" member="yes">
											<label>N/A</label>
											<font>
												<size>37</size>
												<weight>bold</weight>
												<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_CURRENTWEATHERCONDITIONSTATICTEXT" variable="CurrentWeatherConditionStaticText" member="yes">
											<label>Weather condition</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="WindFlexGridSizer" member="no">
									<cols>1</cols>
									<rows>5</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_WINDSTATICTEXT" variable="WindStaticText" member="yes">
											<label>Wind</label>
											<font>
												<weight>bold</weight>
												<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_DIRECTIONSTATICTEXT" variable="DirectionStaticText" member="yes">
											<label>Direction: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_SPEEDSTATICTEXT" variable="SpeedStaticText" member="yes">
											<label>Speed: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_GUSTSTATICTEXT" variable="GustStaticText" member="yes">
											<label>Gust: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="AtmosphereFlexGridSizer" member="no">
									<cols>1</cols>
									<rows>6</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_ATMOSPHERESTATICTEXT" variable="AtmosphereStaticText" member="yes">
											<label>Atmosphere</label>
											<font>
												<weight>bold</weight>
												<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_PRESSURESTATICTEXT" variable="PressureStaticText" member="yes">
											<label>Pressure: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_PRECIPITATIONSTATICTEXT" variable="PrecipitationStaticText" member="yes">
											<label>Precipitation: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_HUMIDITYSTATICTEXT" variable="HumidityStaticText" member="yes">
											<label>Humidity: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_CLOUDCOVERSTATICTEXT" variable="CloudCoverStaticText" member="yes">
											<label>Cloud cover: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_VISIBILITYSTATICTEXT" variable="VisibilityStaticText" member="yes">
											<label>Visibility: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="AstronomyFlexGridSizer" member="no">
									<cols>1</cols>
									<rows>4</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_ASTRONOMYSTATICTEXT" variable="AstronomyStaticText" member="yes">
											<label>Astronomy</label>
											<font>
												<weight>bold</weight>
												<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_SUNRISESTATICTEXT" variable="SunriseStaticText" member="yes">
											<label>Sunrise: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_SUNSETSTATICTEXT" variable="SunsetStaticText" member="yes">
											<label>Sunset: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_MOONPHASESTATICTEXT" variable="MoonPhaseStaticText" member="yes">
											<label>Moon phase: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="IndexFlexGridSizer" member="no">
									<cols>1</cols>
									<rows>5</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_INDEXSTATICTEXT" variable="IndexStaticText" member="yes">
											<label>Index</label>
											<font>
												<weight>bold</weight>
												<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_FEELSLIKESTATICTEXT" variable="FeelsLikeStaticText" member="yes">
											<label>Feels like: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_WINDCHILLSTATICTEXT" variable="WindChillStaticText" member="yes">
											<label>Wind chill: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_HEATINDEXSTATICTEXT" variable="HeatIndexStaticText" member="yes">
											<label>Heat index: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_DEWPOINTSTATICTEXT" variable="DewPointStaticText" member="yes">
											<label>Dew point: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_UVINDEXSTATICTEXT" variable="UvIndexStaticText" member="yes">
											<label>UV index: N/A</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="WeatherForecastStaticBoxSizer" member="no">
					<label>Weather forecast</label>
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="WeatherForecastFlexGridSizer" member="no">
							<cols>3</cols>
							<rows>1</rows>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="TodayFlexGridSizer" member="no">
									<cols>1</cols>
									<rows>4</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_TODAYSTATICTEXT" variable="TodayStaticText" member="yes">
											<label>Today</label>
											<font>
												<weight>bold</weight>
												<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="TodayTemperatureFlexGridSizer" member="no">
											<cols>3</cols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CURRENTMINTEMPSTATICTEXT1" variable="CurrentMinTempStaticText1" member="yes">
													<label>N/A</label>
													<font>
														<size>12</size>
														<weight>bold</weight>
														<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
													</font>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_DASHSTATICTEXT1" variable="DashStaticText1" member="yes">
													<label>–</label>
													<font>
														<size>12</size>
														<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
													</font>
												</object>
												<flag>wxTOP|wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CURRENTMAXTEMPSTATICTEXT1" variable="CurrentMaxTempStaticText1" member="yes">
													<label>N/A</label>
													<font>
														<size>12</size>
														<weight>bold</weight>
														<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
													</font>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_WEATHERCONDITIONSTATICTEXT1" variable="WeatherConditionStaticText1" member="yes">
											<label>Weather condition</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="TodayDetailsFlexGridSizer" member="no">
											<cols>1</cols>
											<rows>5</rows>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_MAXWINDSTATICTEXT1" variable="MaxWindStaticText1" member="yes">
													<label>Maximum wind: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CHANCEOFRAINSTATICTEXT1" variable="ChanceOfRainStaticText1" member="yes">
													<label>Chance of rain: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CHANCEOFSNOWSTATICTEXT1" variable="ChanceOfSnowStaticText1" member="yes">
													<label>Chance of snow: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_TOTALPRECIPITATIONSTATICTEXT1" variable="TotalPrecipitationStaticText1" member="yes">
													<label>Total precipitation: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_TOTALSNOWSTATICTEXT1" variable="TotalSnowStaticText1" member="yes">
													<label>Total snow: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="TomorrowFlexGridSizer" member="no">
									<cols>1</cols>
									<rows>4</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_TOMORROWSTATICTEXT" variable="TomorrowStaticText" member="yes">
											<label>Tomorrow</label>
											<font>
												<weight>bold</weight>
												<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="TomorrowTemperatureFlexGridSizer" member="no">
											<cols>3</cols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CURRENTMINTEMPSTATICTEXT2" variable="CurrentMinTempStaticText2" member="yes">
													<label>N/A</label>
													<font>
														<size>12</size>
														<weight>bold</weight>
														<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
													</font>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_DASHSTATICTEXT2" variable="DashStaticText2" member="yes">
													<label>–</label>
													<font>
														<size>12</size>
														<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
													</font>
												</object>
												<flag>wxTOP|wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CURRENTMAXTEMPSTATICTEXT2" variable="CurrentMaxTempStaticText2" member="yes">
													<label>N/A</label>
													<font>
														<size>12</size>
														<weight>bold</weight>
														<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
													</font>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_WEATHERCONDITIONSTATICTEXT2" variable="WeatherConditionStaticText2" member="yes">
											<label>Weather condition</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="TomorrowDetailsFlexGridSizer" member="no">
											<cols>1</cols>
											<rows>3</rows>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_MAXWINDSTATICTEXT2" variable="MaxWindStaticText2" member="yes">
													<label>Maximum wind: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CHANCEOFRAINSTATICTEXT2" variable="ChanceOfRainStaticText2" member="yes">
													<label>Chance of rain: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CHANCEOFSNOWSTATICTEXT2" variable="ChanceOfSnowStaticText2" member="yes">
													<label>Chance of snow: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_TOTALPRECIPITATIONSTATICTEXT2" variable="TotalPrecipitationStaticText2" member="yes">
													<label>Total precipitation: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_TOTALSNOWSTATICTEXT2" variable="TotalSnowStaticText2" member="yes">
													<label>Total snow: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="ThirdDayFlexGridSizer" member="no">
									<cols>1</cols>
									<rows>4</rows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_THIRDDAYSTATICTEXT" variable="ThirdDayStaticText" member="yes">
											<label>3rd Day</label>
											<font>
												<weight>bold</weight>
												<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
											</font>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="ThirdDayTemperatureFlexGridSizer" member="no">
											<cols>3</cols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CURRENTMINTEMPSTATICTEXT3" variable="CurrentMinTempStaticText3" member="yes">
													<label>N/A</label>
													<font>
														<size>12</size>
														<weight>bold</weight>
														<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
													</font>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_DASHSTATICTEXT3" variable="DashStaticText3" member="yes">
													<label>–</label>
													<font>
														<size>12</size>
														<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
													</font>
												</object>
												<flag>wxTOP|wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CURRENTMAXTEMPSTATICTEXT3" variable="CurrentMaxTempStaticText3" member="yes">
													<label>N/A</label>
													<font>
														<size>12</size>
														<weight>bold</weight>
														<sysfont>wxSYS_DEFAULT_GUI_FONT</sysfont>
													</font>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_WEATHERCONDITIONSTATICTEXT3" variable="WeatherConditionStaticText3" member="yes">
											<label>Weather condition</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="ThirdDayDetailsFlexGridSizer" member="no">
											<cols>1</cols>
											<rows>3</rows>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_MAXWINDSTATICTEXT3" variable="MaxWindStaticText3" member="yes">
													<label>Maximum wind: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CHANCEOFRAINSTATICTEXT3" variable="ChanceOfRainStaticText3" member="yes">
													<label>Chance of rain: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_CHANCEOFSNOWSTATICTEXT3" variable="ChanceOfSnowStaticText3" member="yes">
													<label>Chance of snow: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_TOTALPRECIPITATIONSTATICTEXT3" variable="TotalPrecipitationStaticText3" member="yes">
													<label>Total precipitation: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_TOTALSNOWSTATICTEXT3" variable="TotalSnowStaticText3" member="yes">
													<label>Total snow: N/A</label>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MainMenuBar" member="no">
			<object class="wxMenu" variable="FileMenu" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="idMenuCheck" variable="CheckMenuItem" member="yes">
					<label>&amp;Check</label>
					<accel>Enter</accel>
					<help>Checks the weather in the city provided.</help>
				</object>
				<object class="wxMenu" name="idMenuSave" variable="SaveMenuItem" member="yes">
					<label>&amp;Save</label>
					<object class="wxMenuItem" name="idMenuAsFile" variable="AsFileMenuItem" member="yes">
						<label>As &amp;file...</label>
						<accel>Ctrl+S</accel>
						<help>Saves the weather details to a specified file.</help>
						<enabled>0</enabled>
					</object>
					<object class="wxMenuItem" name="idMenuToClipboard" variable="ToClipboardMenuItem" member="yes">
						<label>To &amp;Clipboard</label>
						<accel>Ctrl+Alt+C</accel>
						<help>Copies the weather details to the system clipboard.</help>
						<enabled>0</enabled>
					</object>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuQuit" variable="QuitMenuItem" member="no">
					<label>E&amp;xit</label>
					<accel>Alt+F4</accel>
					<help>Quits the application.</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="OptionsMenu" member="yes">
				<label>&amp;Options</label>
				<object class="wxMenu" name="idMenuMeasuringUnits" variable="MeasuringUnitsMenuItem" member="yes">
					<label>Measuring &amp;units</label>
					<object class="wxMenuItem" name="idMenuImperial" variable="ImperialMenuItem" member="yes">
						<label>&amp;Imperial</label>
						<help>Sets the temperature unit to Fahrenheit along with distance (mi), pressure (in) and wind speed (mph).</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuMetric" variable="MetricMenuItem" member="yes">
						<label>&amp;Metric</label>
						<help>Sets the temperature unit to Celsius along with distance (km), pressure (mb) and wind speed (kph).</help>
						<radio>1</radio>
					</object>
				</object>
				<object class="wxMenu" name="idMenuTimeFormat" variable="TimeFormatMenuItem" member="yes">
					<label>&amp;Time format</label>
					<object class="wxMenuItem" name="idMenu12HourClock" variable="TwelveHourClockMenuItem" member="yes">
						<label>&amp;12-hour clock</label>
						<help>Sets the time format to 12-hour (AM/PM).</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenu24HourClock" variable="TwentyFourHourMenuItem" member="yes">
						<label>&amp;24-hour clock</label>
						<help>Sets the time format to 24-hour.</help>
						<radio>1</radio>
					</object>
				</object>
				<object class="wxMenu" name="idMenuDateFormat" variable="DateFormatMenuItem" member="yes">
					<label>&amp;Date format</label>
					<object class="wxMenuItem" name="idMenuYearHyphenMonthHyphenDay" variable="DateFormat1MenuItem" member="yes">
						<label>YYYY-MM-DD</label>
						<help>Sets the date format to YYYY-MM-DD.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuDayHyphenMonthHyphenYear" variable="DateFormat2MenuItem" member="yes">
						<label>DD-MM-YYYY</label>
						<help>Sets the date format to DD-MM-YYYY.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuYearHyphenDayHyphenMonth" variable="DateFormat3MenuItem" member="yes">
						<label>YYYY-DD-MM</label>
						<help>Sets the date format to YYYY-DD-MM.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuMonthHyphenDayHyphenYear" variable="DateFormat4MenuItem" member="yes">
						<label>MM-DD-YYYY</label>
						<help>Sets the date format to MM-DD-YYYY.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuYearDotMonthDotDay" variable="DateFormat5MenuItem" member="yes">
						<label>YYYY.MM.DD</label>
						<help>Sets the date format to YYYY.MM.DD.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuDayDotMonthDotYear" variable="DateFormat6MenuItem" member="yes">
						<label>DD.MM.YYYY</label>
						<help>Sets the date format to DD.MM.YYYY.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuYearDotDayDotMonth" variable="DateFormat7MenuItem" member="yes">
						<label>YYYY.DD.MM</label>
						<help>Sets the date format to YYYY.DD.MM.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuMonthDotDayDotYear" variable="DateFormat8MenuItem" member="yes">
						<label>MM.DD.YYYY</label>
						<help>Sets the date format to MM.DD.YYYY.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuYearSlashMonthSlashDay" variable="DateFormat9MenuItem" member="yes">
						<label>YYYY/MM/DD</label>
						<help>Sets the date format to YYYY/MM/DD.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuDaySlashMonthSlashYear" variable="DateFormat10MenuItem" member="yes">
						<label>DD/MM/YYYY</label>
						<help>Sets the date format to DD/MM/YYYY.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuYearSlashDaySlashMonth" variable="DateFormat11MenuItem" member="yes">
						<label>YYYY/DD/MM</label>
						<help>Sets the date format to YYYY/DD/MM.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuMonthSlashDaySlashYear" variable="DateFormat12MenuItem" member="yes">
						<label>MM/DD/YYYY</label>
						<help>Sets the date format to MM/DD/YYYY.</help>
						<radio>1</radio>
					</object>
				</object>
				<object class="wxMenu" name="idMenuTargetFileEncoding" variable="TargetFileEncodingMenuItem" member="yes">
					<label>Target file &amp;encoding</label>
					<object class="wxMenuItem" name="idMenuANSI" variable="ANSIMenuItem" member="yes">
						<label>&amp;ANSI</label>
						<help>Sets plain text details format to ANSI.</help>
						<radio>1</radio>
					</object>
					<object class="wxMenuItem" name="idMenuUTF8" variable="UTF8MenuItem" member="yes">
						<label>&amp;UTF-8</label>
						<help>Sets plain text details format to Unicode (UTF-8).</help>
						<radio>1</radio>
					</object>
				</object>
				<object class="wxMenuItem" name="idMenuChangeLanguage" variable="ChangeLanguageMenuItem" member="yes">
					<label>&amp;Change language</label>
					<help>Changes the user interface language.</help>
				</object>
				<object class="separator" />
				<object class="wxMenuItem" name="idMenuSaveSettings" variable="SaveSettingsMenuItem" member="yes">
					<label>&amp;Save settings</label>
					<help>Saves current settings to the configuration file.</help>
				</object>
			</object>
			<object class="wxMenu" variable="HelpMenu" member="no">
				<label>&amp;Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="AboutMenuItem" member="no">
					<label>&amp;About...</label>
					<accel>F1</accel>
					<help>Shows info about this application.</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_MAINSTATUSBAR" variable="MainStatusBar" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
